@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|PT+Sans&display=swap&subset=latin-ext');
*,
* ::before, 
*:after{
	box-sizing: border-box;
}
.ba-body{
	font-family: PTSans-Regular,AdobeInvisFont,MyriadHebrew-Regular;
}
.ba-header{
text-align: center;
}
h4{
	padding-top: 77px;
	font-family:'Montserrat', sans-serif;
	font-size: 12px;
	color: #a48690;
}
h1{
	padding-top: 32px;
	font-family:'Montserrat', sans-serif;
	font-size: 48px;
	color: #00b5b8;
}
h1 + p{
	padding-top: 46px;
	font-size: 18px;
	font-family: PTSans-Regular,AdobeInvisFont,MyriadHebrew-Regular;
	color: #b28f8f;
}
.ba-cont{
	background: linear-gradient(to right, /* или 90deg */ #ffe6e6 70%, #ffffff 30%);
   background-size: 80px 100%;
	margin: 0;
	max-width: 960px;
}
.ba-container{
	display: flex;
	border: 0.5px solid silver;
	justify-content: space-between;
	text-align: center;
	height: 420px;
}
img{
	padding-top: 65px;
}
.ba-box-1:hover{
	background-color: #00c9cc;
	color: #ffffff;
}
.ba-box-2:hover{
	background-color: #00c9cc;
	color: #ffffff;
}
.ba-box-3:hover{
	background-color: #00c9cc;
	color: #ffffff;
}
.ba-box-4:hover{
	background-color: #00c9cc;
	color: #ffffff;
}
h3{
	font-family: Montserrat-Regular,AdobeInvisFont,MyriadHebrew-Regular;
	font-size: 21px;
	color: #361111;
}
p{
	font-family: PTSans-Regular,AdobeInvisFont,MyriadHebrew-Regular;
	font-size: 14px;
	text-align: center;
	padding: 0 30px 0 30px;
	color: #9e7b7b;
	display: block;
	margin-bottom: 110px;
}
.ba-footer{
	height: 138px;
	visibility: hidden;
}
